.registerBtn{
    background-color:  #e50914;
     color: #fff;
     border: none;
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
     padding: 15px 40px;
     font-size: 26px;
     font-weight: 600;
     cursor: pointer;
     transition: all 0.3s ease;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 
 .registerBtn:hover{
     background-color: #f40612;
 }
 
 .inputRegister{
     height: 50px;
     border: 1px solid #8c8c8c;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     color: #8c8c8c;
     padding: 33px 30px;
     font-size: 18px;
 }
 
 .formRegister{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
 }